@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    
body {
  font-family: "Work Sans", serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  line-height: 1.5;
}

nav {
  display: flex;
  gap: 1rem;
}

section {
  max-width: 75%;
  margin: 0 auto;
}

hr {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li {
  font-weight: bold;
}